.mainWrapper {
  width: 100%;
  margin-top: 2em;
}

.mainContainer{
  display: table;
  margin: auto auto;
  min-width: 50%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 2em 1em 2em;
}