.loadingWrapper {
    width: 100%;    
}

.loadingWrapper .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
    margin: 10em auto 0 auto;
}