.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
}

.square {
    height: 100px;
    width: 100px;
    border: none;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid transparent;
}

.rectangle {
    height: 100px;
    width: 200px;
    border: none;
}

@keyframes changeColor {
    0% {
        background-color: var(--start-color);
    }
    100% {
        background-color: var(--end-color);
    }
}

@keyframes changeColorTriangle {
    0% {
        border-bottom-color: var(--start-color);
    }
    100% {
        border-bottom-color: var(--end-color);
    }
}

.transformColor {
    animation-name:             changeColor;
    animation-duration:         1s;
    animation-direction:        alternate;
    animation-iteration-count:  infinite;
}

.transformColorTriangle {
    animation-name:             changeColorTriangle;
    animation-duration:         1s;
    animation-direction:        alternate;
    animation-iteration-count:  infinite;
}

